@model DetalhesViewModel
@{
    ViewData["Title"] = "Detalhes Lancamento";
}

<section class="detalhesContainer">
    <div class="containerTituloDetalhes">
        <partial name="_BotaoFecharPartial" />
        <h2 class="tituloDetalhes">Detalhes</h2>
    </div>
    <div>
        <div class="itemDetalhesContainer">
            <label asp-for="@Model.DataLancamento">Data Lancamento:</label>
            <span asp-for="@Model.DataLancamento">@Model.DataLancamento</span>
        </div>
        <div class="itemDetalhesContainer">
            <label for="">Valor:</label>
            <span for="">@Model.Valor.ToString("C")</span>
        </div>
        <div class="itemDetalhesContainer">
            <label for="">Tipo de Lancamento:</label>
            <span for="">@Model.TipoDeLancamento</span>
        </div>
        <div class="itemDetalhesContainer">
            <label for="">Categoria:</label>
            <span for="">@Model.Categoria.Nome</span>
        </div>
        <div class="itemDetalhesContainerDescricao">
            <label asp-for="@Model.Descricao">Descricao</label>
            <textarea disabled name="" id="" cols="30" rows="10" asp-for="@Model.Descricao"></textarea>
        </div>
    </div>

    <div class="containerBotoesDetalhes">
        <a asp-controller="lancamento" asp-action="atualizar" asp-route-id="@Model.Id" class="botaoDetalhesLancamento editar" type="submit">
            Editar
        </a>
        <a asp-controller="lancamento" asp-action="remover" asp-route-id="@Model.Id" class="botaoDetalhesLancamento excluir" type="submit">
            Excluir
        </a>
    </div>
</section>